# Dependencies
node_modules/
vendor/

# Environment
.env
.env.*!.env.example

# Next.js
.next/
out/
.vercel/

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
.phpunit.cache
.phpunit.result.cache
.phpactor.json
/auth.json
Homestead.json
Homestead.yaml

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-error.log*

# Build
*.pack.gz
